@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

@font-face {
  font-family: "Kerox";
  src: url(../fonts/kerox/Kerox-NonCommercial.otf) format(opentype);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(1, 0, 2, 0.66), rgba(1, 0, 2, 0.66)), #001D84;
  transition: width .3s, height .3s;
  transition-timing-function: ease;
}

#inicio_CITY {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#inicio_CITY {
  height: 83px;
  background-image: linear-gradient(89.94deg,rgba(0, 229, 255, 0.21) 35.22%, rgba(18, 0, 255, 0.21) 70.85%);
}

#inicio_CITY > #home {
  position: relative;
  text-align: center;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#inicio_CITY > #home > h1 {
  color: white;
  font-family: 'Koulen';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 8px;
}

#inicio_CITY > #img_user > img {
  position:absolute;
  width: 37px;
  height: 40px;
  left: 90%;
  top: 0px;
  mix-blend-mode: luminosity;
}

main {
  width: 90%;
  height: 100vh;
}

main > #fundo-city {
  width: 100vw;
  height: 235px;
  background-image: url(../images/4884841.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#fundo-city > .logo > .evslle > img{ 
  position: relative;
  width: 162px;
  height: 143px;
  left: 35px;
  top: 110px;
}

#fundo-city > .logo > .evslle > .principio-un {
  position: absolute;
  width: 103px;
  height: 18px;
  left: 174px;
  top: 128px;
  font-family: "kerox";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.005em;
}

.principio-un {
  color: transparent;
  background-image: linear-gradient(89.94deg, #ff2cdf, #0014ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#circle-two {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 162.5px;
  top: 131.5px;
  background-color: #61c1fd;
  border-radius: 10px;
}

#circle-un {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 112.4px;
  top: 172.8px;
  background: #61C1FD;
}

#fundo-city > .logo > .evslle > .principio-two {
  position: absolute;
  width: 209px;
  height: 18px;
  left: 121px;
  top: 168px;
  font-family: 'Kerox';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.32em;
}

.principio-two {
  color: transparent;
  background-image: linear-gradient(89.94deg, #ff2cdf, #0014ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: text;
}

.pag_un {
  color: white;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
  left: 0px;
  top: 314px;
  width: 184px;
  height: 24px;
}

#colun-grid {
  display: flex;
}

#colun-grid-sect {
  display: flex;
}

#pag-tranformers > h1  {
  position: relative;
  top: -575px;
  left:   15px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2em;  
  line-height: 106.66%;
}

#programador > h1 { 
  position: relative;
  top: -575px;
  left:   15px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2em;  
  line-height: 106.66%;
}

#HarryPotter > h1 {
  position: relative;
  top: -355px;
  width: 184px;
  height: 24px;
  left: 10px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2em;  
  line-height: 106.66%;
}

#tecnologia > h1 {
  position: relative;
  top: -378px;
  width: 184px;
  height: 24px;
  left: 200px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.2em;  
  line-height: 106.66%;
}

.transparent {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 165px;
  height: 165px;
  top: 688px;
  left: 20px;
}

.transparent-un {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.122);
  width: 165px;
  height: 165px;
  top: 438px;
  left: 20px;
}

.transparent-two {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.122);
  width: 165px;
  height: 165px;
  left: 212px;
  top: 441px;
}

.transparent-three {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.122);
  width: 165px;
  height: 165px;
  left: 212px;
  top: 680px;
}

#card-un {
  filter: blur(3px);
  position: relative;
  background-image: url(../images/Kingfrends_create_a_video_thumbnail_containing_a_flashy_robot_u_8961cc88-263a-447e-8e76-9caed908799f.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 120px;
  left: 20px;
  width: 165px;
  height: 165px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
}

#card-un span:nth-last-of-type(1) {
  position: absolute;
  top:  0;
  left: 0;
  background: linear-gradient(to right, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador1 2s linear infinite;
}

@keyframes animador1  {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
}
}

#card-un span:nth-last-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animador2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
}
}

#card-un span:nth-last-of-type(3) {
  position: absolute;
  right:  0;
  bottom: 0;
  background: linear-gradient(to left, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador3 2s linear infinite;
}

@keyframes animador3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
}
}

#card-un span:nth-last-of-type(4) {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to top, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador4 2s linear infinite;
  animation-delay: 1s
}

@keyframes animador4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
}
}

#card-two {
  filter: blur(3px);
  position: relative;
  background-image: url(../images/Jackshan65_developer_cute_computer_e61a2e35-b358-4075-88a7-5d1d0204c13b.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -43px;
  left: 210px;
  width: 165px;
  height: 165px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
}

#card-two span:nth-last-of-type(1) {
  position: absolute;
  top:  0;
  left: 0;
  background: linear-gradient(to right, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador1 2s linear infinite;
}

@keyframes animador1  {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
}
}

#card-two span:nth-last-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animador2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
}
}

#card-two span:nth-last-of-type(3) {
  position: absolute;
  right:  0;
  bottom: 0;
  background: linear-gradient(to left, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador3 2s linear infinite;
}

@keyframes animador3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
}
}

#card-two span:nth-last-of-type(4) {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to top, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador4 2s linear infinite;
  animation-delay: 1s
}

@keyframes animador4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
}
}

#card-three {
  filter: blur(3px);
  position: relative;
  background-image: url(../images/9cfdecc0-e315-44aa-b3f4-454b2d887b5d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 30px;
  left: 20px;
  width: 165px;
  height: 165px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
}

#card-three span:nth-last-of-type(1) {
  position: absolute;
  top:  0;
  left: 0;
  background: linear-gradient(to right, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador1 2s linear infinite;
}

@keyframes animador1  {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
}
}

#card-three span:nth-last-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animador2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
}
}

#card-three span:nth-last-of-type(3) {
  position: absolute;
  right:  0;
  bottom: 0;
  background: linear-gradient(to left, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador3 2s linear infinite;
}

@keyframes animador3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
}
}

#card-three span:nth-last-of-type(4) {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to top, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador4 2s linear infinite;
  animation-delay: 1s
}

@keyframes animador4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
}
}

#card-four {
  filter: blur(3px);
  position: relative;
  background-image: url(../images/Kingfrends_create_a_miniature_with_people_messing_with_their_co_7efad209-4d09-43ff-ab1a-03fd7077c3b7.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -135px;
  left: 210px;
  width: 165px;
  height: 165px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
}

#card-four span:nth-last-of-type(1) {
  position: absolute;
  top:  0;
  left: 0;
  background: linear-gradient(to right, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador1 2s linear infinite;
}

@keyframes animador1  {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
}
}

#card-four span:nth-last-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animador2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
}
}

#card-four span:nth-last-of-type(3) {
  position: absolute;
  right:  0;
  bottom: 0;
  background: linear-gradient(to left, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador3 2s linear infinite;
}

@keyframes animador3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
}
}

#card-four span:nth-last-of-type(4) {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to top, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador4 2s linear infinite;
  animation-delay: 1s
}

@keyframes animador4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
}
}

#card-four span:nth-last-of-type(3) {
  position: absolute;
  right:  0;
  bottom: 0;
  background: linear-gradient(to left, black, #03d5ff);
  width: 100%;
  height: 3px;
  animation: animador3 2s linear infinite;
}

@keyframes animador3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
}
}

#card-four span:nth-last-of-type(4) {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to top, #03d5ff, black);
  width: 3px;
  height: 100%;
  animation: animador4 2s linear infinite;
  animation-delay: 1s
}

@keyframes animador4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
}
}

footer {
  width: 100vw;
  height: 20px;
  display: flex;
}

footer > h1 {
  position: relative;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 106.66%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    top: 100px;
}