@charset "UTF-8";

/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */

@media screen and (min-width: 768px) and (max-width: 992px) {
  #inicio_CITY {
    position: relative;
    width: 100%;
    height: 142px;
    background-image: linear-gradient(89.94deg,rgba(0, 229, 255, 0.21) 35.22%, rgba(18, 0, 255, 0.21) 70.85%);
  }

  #inicio_CITY > #home {
    position: relative;
    text-align: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
  }

  #inicio_CITY > #home > h1 {
    color: white;
    font-family: 'Koulen';
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 0.32em;
    line-height: 107.16%;
  }

  #inicio_CITY > #img_user > img {
    position:absolute;
    width: 49px;
    height: 51px;
    left: 90%;
    top: 0px;
    mix-blend-mode: luminosity;
  }

  main {
    width: 100%;
    height: 100vh;
  }

  main > #fundo-city {
    width: 100vw;
    height: 333px;
    background-image: url(../images/layouttablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }

  #fundo-city > .logo > .evslle > img{ 
    position: relative;
    width: 250px;
    height: 229px;
    left: 96px;
    top: 130px;
  }

  #fundo-city > .logo > .evslle > .principio-un {
    position: absolute;
    width: 281px;
    height: 24px;
    left: 339px;
    top: 202px;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 106.66%;
    text-align: center;
    letter-spacing: 0.1em;
  }

  .principio-un {
    color: transparent;
    background-image: linear-gradient(89.94deg, #ff2cdf, #0014ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #circle-two {
    position: absolute;
    width: 17px;
    height: 15px;
    left: 345px;
    top: 209px;
    background-color: #61c1fd;
    border-radius: 10px;
  }

  #circle-un {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 236.5px;
    top: 267px;
    background: #61C1FD;
    border-radius: 10px;
  }
 
  #fundo-city > .logo > .evslle > .principio-two {
    position: absolute;
    width: 209px;
    height: 18px;
    left: 241px;
    top: 263px;
    font-family: 'Kerox';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.32em;
  }

  .principio-two {
    color: transparent;
    background-image: linear-gradient(89.94deg, #ff2cdf, #0014ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: text;
  }
  
  .pag_un {
    position: absolute;
    color: white;
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    letter-spacing: 0.1em;
    text-align: center;
    width: 221px;
    height: 24px;
    left: 118px;
    top: 528px;
    line-height: 106.66%;
    text-align: center;
    letter-spacing: 0.1em;
  }

  #colun-grid {
    display: flex;
  }

  #colun-grid-sect {
    display: flex;
  }
  
  #pag-tranformers > h1  {
    position: relative;
    top: -835px;
    left:   118px;
    font-size: 29px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 106.66%;
    text-align: center;
    letter-spacing: 0.1em;
  }

  #programador > h1 { 
    position: relative;
    top: -835px;
    left:   280px;
    font-size: 29px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.2em;  
    line-height: 106.66%;
  }

  #HarryPotter > h1 {
    position: relative;
    top: -552px;
    left:   138px;
    font-size: 29px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 106.66%;
    text-align: center;
    letter-spacing: 0.1em;
  }

  #tecnologia > h1 {
    position: relative;
    top: -572px;
    left:   520px;
    font-size: 29px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.2em;  
    line-height: 106.66%;
  }
  
  .transparent {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 215px;
    height: 220px;
    top: 865px;
    left: 508px;
  }
  
  .transparent-un {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 215px;
    height: 220px;
    top: 868px;
    left: 120px;
  }

  .transparent-two {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 215px;
    height: 220px;
    left: 508px;
    top: 576px;
  }

  .transparent-three {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 215px;
    height: 220px;
    left: 120px;
    top: 576px;
  }

  #card-un {
    filter: blur(3px);
    position: relative;
    background-image: url(../images/Kingfrends_create_a_video_thumbnail_containing_a_flashy_robot_u_8961cc88-263a-447e-8e76-9caed908799f.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 215px;
    height: 220px;
    left: 124px;
    top: 99px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
  }

  #card-un span:nth-last-of-type(1) {
    position: absolute;
    top:  0;
    left: 0;
    background: linear-gradient(to right, black, #03d5ff);
    width: 100%;
    height: 3px;
    animation: animador1 2s linear infinite;
  }

  #card-two {
    filter: blur(3px);
    position: relative;
    background-image: url(../images/Jackshan65_developer_cute_computer_e61a2e35-b358-4075-88a7-5d1d0204c13b.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -118px;
    left: 502px;
    width: 215px;
    height: 220px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
  }
  
  #card-three {
    filter: blur(3px);
    position: relative;
    background-image: url(../images/9cfdecc0-e315-44aa-b3f4-454b2d887b5d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -48px;
    left: 124px;
    width: 215px;
    height: 220px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
  }
  
  #card-four {
    filter: blur(3px);
    position: relative;
    background-image: url(../images/Kingfrends_create_a_miniature_with_people_messing_with_their_co_7efad209-4d09-43ff-ab1a-03fd7077c3b7.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -268px;
    left: 505px;
    width: 215px;
    height: 220px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25)) drop-shadow(6px 8px 4px rgba(255, 255, 255, 0.08));
  }

  footer > h1 {
    position: relative;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 106.66%;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   top: -20px;
  }
}