@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
  font-family: 'Koulen', cursive;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 844px;
  background-image: url(../images/background-mobile-login.png);
  background-repeat: no-repeat;
  background-size:  cover;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

main > h1 {
  position: absolute;
  width: 397px;
  height: 78px;
  left: -4px;
  top: 61px;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 107.16%;
  text-align: center;
  letter-spacing: 0.32em;
  color: #FFFFFF;
}

section#login {
  position: absolute;
  width: 313px;
  height: 341px;
  left: 38px;
  top: 450px;
  overflow: hidden;
  background: rgba(74, 94, 105, 0.29);
  mix-blend-mode: normal;
}

main > .imagem {
  position: absolute;
  width: 313px;
  height: 244px;
  left: 38px;
  top: 204px;
  background: url(../images/login-monile-logoville.png);
  background-size: cover;
  background-attachment: scroll;
}

#login > #formulario {
  display: block;
  padding: 10px;
}

#formulario > h1 {
  position: relative;
  width: 170px;
  height: 33px;
  left: 50%;
  transform: translate(-50%);
  top: 6px;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 62.66%;
  text-align: center;
  letter-spacing: 0.32em;
  color: #FFFFFF;
}

#formulario > p {
  position: relative;
  width: 259px;
  height: 24px;
  left: 50%;
  transform: translate(-50%);
  top: 20px;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 165.5%;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.49);
}

#formulario > p:nth-last-child(2) {
  position: relative;
  width: 314px;
  height: 26px;
  left: 50%;
  transform: translate(-50%);
  top: 17px;
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 92%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FDFDFD;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form > .campo:nth-last-of-type(1) {
  position: relative;
  background: #4A5E69;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin: 5px 0px;
  border-radius: 8px;
  top: 50px;
}

form > .campo:nth-last-of-type(2) {
  position: relative;
  background: #4A5E69;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  margin: 5px 0px;
  border-radius: 8px;
  top: 30px;
}

div.campo > label {
  display: none;
}

div.campo > i {
  color: white;
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div.campo > input {
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  height: 100%;
  width: calc(100% - 42px);
  transform: translateY(-46px);
  border: 0px;
  border-radius: 8px;
  position: relative;
  left: 42.8px;
  color: white;
  left: 43px;
  top: -3px;
}

div.campo > input:nth-last-of-type(2) {
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  height: 100%;
  width: calc(100% - 42px);
  transform: translateY(-46px);
  border: 0px;
  border-radius: 8px;
  position: relative;
  left: 42.8px;
  color: white;
  left: 43px;
  top: -3px;
}

div.campo > input:focus {
  border: none;
}

form > input[type=submit] {
  position: absolute;
  top: 265px;
  left: 50%;
  transform: translate(-50%, -0%);
  text-align: center;
  font-size: 1em;
  width: 60%;
  height: 40px;
  color: white;
  background-color: #2A5974;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

form > a.botao > i {
  font-size: 0.8em;
}

form > a.botao {
  text-decoration: none;
  position: absolute;
  top: 315px;
  color: white;
  font-size: 12px;
}